@import "tailwindcss";

:root{
  @apply bg-neutral-950;
}

#root{
  @apply w-full sm:w-1/2 h-full flex flex-col justify-center items-center relative;
}

#loading{
  @apply bg-cyan-500 w-[300px] h-[300px] rounded-4xl absolute top-11/12;
  animation: pulse 2s ease-in-out infinite, spin 3s ease infinite
}


.recharts-wrapper:focus,
.recharts-surface:focus,
.recharts-legend-wrapper:focus {
  outline: none;
}
